@font-face {
  font-family: "Digital-7";
  src: url("fonts/digital-7.ttf") format("truetype");
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  place-items: center;
  min-width: 100%;
  min-height: 100vh;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: whitesmoke;
  background-color: blanchedalmond;
}

.calculadora {
  background-color: rgb(35, 48, 40);
  padding: 20px;
  margin-top: 2rem;
  border-radius: 1.5rem;
  box-shadow: 15px 15px 15px gray;
}

.resultado {
  background: #222;
  border-radius: 8px;
  padding: 12px;
  margin-top: 2rem;
  font-family: "Digital-7", monospace; /* Se você tiver fonte digital */
  font-size: 48px;
  color: #0aff0a; /* verde fosforescente típico */

  text-align: right;
  border: 2px solid #000;
  box-shadow: inset 0 0 15px rgba(0, 255, 0, 0.3),
    inset 0 0 5px rgba(0, 0, 0, 0.8);
}

input {
  width: 250px;
  padding: 10px 12px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 8px;
  outline: none;
  margin-right: 0.5rem;
  background-color: #f3ffed;
  transition: all 0.3s ease;
}

input:focus {
  transform: scale(1.03);
}

h1 {
  text-align: center;
}

.botones {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 colunas */
  gap: 10px; /* espaçamento entre os botões */
}

button {
  height: 5rem;
  background: #e0e0e0;
  border: 2px solid #888;
  border-radius: 6px;
  margin: 0.5rem;
  font-size: 22px;
  font-family: Arial, sans-serif;
  cursor: pointer;

  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  transition: all 0.1s ease;
}

button:hover {
  background-color: #36442f;
  color: azure;
}
