#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

p {
  margin: 0;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

textarea {
  resize: none;
  min-width: 50rem;
  field-sizing: content;
  line-height: 1lh;
  padding: 10px;
  border-radius: 10px;
}
