.inserir-item {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  border: 2px solid lightblue;
  padding: 15px;
  border-radius: 10px;
}

input {
  min-height: 30px;
  border-radius: 10px;
  border: 2px solid rgb(187, 210, 255);
}

input:focus {
  border: 2px solid green;
  outline: none;
}
