.principal {
  background: rgb(236, 245, 248);
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px gray;
  border-radius: 10px;
  color: rgb(4, 63, 111);
}

p {
  margin: 0;
}

h1 {
  font-size: 2rem;
}

label {
  font-size: 1rem;
}

span {
  background-color: rgb(73, 71, 71);
  border: 6px solid #b9ddb0;

  color: rgb(255, 255, 74);
  padding: 10px;
  margin-top: 15px;
  border-radius: 10px;
}

button {
  margin: 10px;
  border-radius: 4px;
  border-color: rgb(108, 133, 160);
  font-size: large;
  padding: 4px 6px;
  background-color: white;
  color: rgb(0, 62, 112);
}
