body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2rem;
  height: 100vh; /* garante que o body ocupe a tela toda */
  display: flex;
  justify-content: center; /* alinha horizontalmente */
  align-items: center; /* alinha verticalmente */
  background-color: blanchedalmond;
}
