body {
  margin: 0;
  place-items: center;
  min-width: 100%;
  min-height: 100vh;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: gray;
  background-color: antiquewhite;
}

.principal {
  height: auto;
  width: 100%;
  justify-content: center;
  align-items: center;
  transition: color 0.5s ease;
  display: flex;
  flex-direction: column;
  border: 5px solid rgb(0, 31, 0);
  border-radius: 20px;
  padding: 20px;
  margin-top: 100px;
}

.cadaitem {
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-items: center;
  justify-content: space-between;
}

.listaitens {
  width: 15%;
  padding: 0.5rem;
  margin: 0;
  margin-top: 10px;
  color: blue;
  font-weight: bold;
  border: 1px solid black;
}

article {
  max-width: fit-content;
}

h1 {
  text-align: center;
}
button {
  padding: 0.3rem 1rem;
  font-size: 0.9rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(19, 51, 19);
  color: white;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.2rem;
}

p {
  font-size: 1.1rem;
  font-weight: normal;
  margin: 0;
  margin-bottom: 0.4rem;
}
